{% extends 'rango/base.html' %}
 
{% load staticfiles %}

{% load bootstrap_toolkit %}

{% block title %}Add_Category{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Category</h1>
    </div>
    <form role="form" id="category_form" method="post" action="{% url 'add_category' %}">
        {% csrf_token %}
        {{form|as_bootstrap}}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">Create Category</button>
    </form>
{% endblock %}